#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #62b0d6;
    color: white;
  }

  .btn-edit {
    width: 50px;
    border: none;
    outline: none;
    background: transparent;
    color: #04AA6D;

    &:hover {
      background-color: transparent !important;
      color: #136344 !important;
    }
  }


  
  .btn-delete {
    width: 50px;
    border: none;
    outline: none;
    background: transparent;
    color: #d1381d;

    &:hover {
      background-color: transparent !important;
      color: #812718 !important;
    }
  }