.upload {
  padding: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #ddd;
  cursor: pointer;
  opacity: 0.8;
}

.upload:hover {
  opacity: 1;
}

.priview-img {
  width: 100%;
  border: 1px solid #cccc;
  background-size: cover;
  background: center center no-repeat;
  cursor: pointer;
}

.btn-modal {
  width: 100px !important;
  height: 50px !important;
}

.close {
  color: #000 !important;
}
